<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <add name="mssql" connectionString="Data Source=120.76.78.5,1433;Initial Catalog=GSCRWebDB;User ID=yyy;Password=123456;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRakeBackService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRakeBackService" contract="RakeBackService.IRakeBackService"
        name="BasicHttpBinding_IRakeBackService" />
    </client>
  </system.serviceModel>
</configuration>